#container{
    width: 50vw;
    height: 80vh;
    margin: 2% auto 0 auto;
    /* overflow-y: scroll; */
}

#container > div{
    width: 100%;
    height: 7vh;
    background-color: #3B49DF;
    color: white;
    margin:2% 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
}